.form__submit {
    margin: 0;
    font-family: Inter, Helvetica, sans-serif;
    margin-top: 48px;
    transition: .5s;
    cursor: pointer;
    border: none;
    background-color: black;
    color: white;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    line-height: 22px;
    max-width: 358px;
    min-height: 50px;
}

.form__submit:hover {
    opacity: .8;
}

@media screen and (max-width: 520px) {
  .form__submit {
    max-width: 238px;
    margin-top: 45px;
    font-size: 14px;
    line-height: 17px;
  }
}
